*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
html,
body {
  height: 100%;
  background-color: #f1f2f7;
  padding-top: 20px;
  font-family: "Roboto";
}

.registration-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.registration-form h2 {
  text-align: center;
}
.registration-form .form-group .form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.registration-form .login-link {
  display: block;
  text-align: center;
  color: blue;
  text-decoration: none;
}
.registration-form .btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: blue;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.registration-form .btn:hover {
  background-color: darkblue;
}

/* -- phone number with country choice -- */
.phone_container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.phone_container__phone {
  padding-left: 10px;
}
/* dropdown menu with countries list */
.menu {
  position: absolute;
  width: 200;
  padding: 15px;
  background-color: #fff;
  border-radius: 6px;
  margin-top: 160px;
}
.menu__list {
}
.menu__item {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.menu__item:nth-child(n + 2) {
  margin-top: 15px;
}
.menu__item img {
  width: 24px;
  height: 24px;
  margin-right: 15px;
}
